.cart-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b0b7c7;
}

/* Flights */

.cart-flight-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: grey 1px solid;
}

.cart-flight-section h2 {
    width: 100%;
    padding-left: 2%;
    color: grey;
}

.cart-article-flight-div {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.cart-article-flight {
    cursor: pointer;
    width: 80%;
    margin: 3% 0;
    padding: 2%;
    background-color: #ffffff;
    border-bottom: 5px solid rgb(100, 100, 100);
    border-right: 5px solid rgb(100, 100, 100);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s;
}

.cart-article-flight:hover {
    border-bottom: 1px solid rgb(100, 100, 100);
    border-right: 1px solid rgb(100, 100, 100);
}

.cart-tools-flight {
    width: 80%;
    display: flex;
}

.cart-add-subtract-item-f {
    width: 60%;
    display: flex;
    align-items: center;
}

.cart-add-item-f {
    width: 33%;
    display: flex;
    justify-content: center;
}

.cart-add-item-f i {
    cursor: pointer;
    padding: 15%;
    border: #1f53c5 2px solid;
    color: #1f53c5;
    border-radius: 30px;
    font-size: 30px;
    transition: all 0.5s;
}

.cart-number-item-f {
    width: 33%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.cart-subtract-item-f {
    width: 33%;
    display: flex;
    justify-content: center;
}

.cart-subtract-item-f i {
    cursor: pointer;
    padding: 15%;
    border: #1f53c5 2px solid;
    color: #1f53c5;
    border-radius: 30px;
    font-size: 30px;
    transition: all 0.5s;
}

.cart-add-item-f i:hover,
.cart-subtract-item-f i:hover {
    border: white 1px solid;
    color: white;
    font-size: 34px;
    background-color: #1f53c5;
    box-shadow: 0 0 30px rgb(100, 100, 100);

}

.cart-delete-item-f {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-delete-item-f p {
    width: 50%;
    display: flex;
    justify-content: center;
}

.cart-delete-item-f p i {
    cursor: pointer;
    padding: 15%;
    border: red 2px solid;
    color: red;
    border-radius: 30px;
    font-size: 30px;
    transition: all 0.5s;
}

.cart-delete-item-f p i:hover {
    border: white 1px solid;
    color: white;
    font-size: 34px;
    background-color: red;
    box-shadow: 0 0 30px rgb(100, 100, 100);
}

/* Hotels */

.cart-hotel-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: grey 1px solid;
}

.cart-hotel-section h2 {
    width: 100%;
    padding-left: 2%;
    color: grey;
}

.cart-hotel-div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.cart-article-hotel-div {
    width: 80%;
}

.cart-article-hotel {
    padding: 2%;
    margin: 2% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 5px solid rgb(100, 100, 100);
    border-right: 5px solid rgb(100, 100, 100);
    transition: all 0.2s;
}

.cart-article-hotel:hover {
    border-bottom: 1px solid rgb(100, 100, 100);
    border-right: 1px solid rgb(100, 100, 100);
}

.cart-tools-hotel {
    width: 100%;
    display: flex;
}

.cart-add-subtract-item-h {
    width: 60%;
    display: flex;
    align-items: center;
}

.cart-add-item-h {
    width: 33%;
    display: flex;
    justify-content: center;
}

.cart-add-item-h i {
    cursor: pointer;
    padding: 15%;
    border: #1f53c5 2px solid;
    color: #1f53c5;
    border-radius: 30px;
    font-size: 30px;
    transition: all 0.5s;
}

.cart-number-item-h {
    width: 33%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.cart-subtract-item-h {
    width: 33%;
    display: flex;
    justify-content: center;
}

.cart-subtract-item-h i {
    cursor: pointer;
    padding: 15%;
    border: #1f53c5 2px solid;
    color: #1f53c5;
    border-radius: 30px;
    font-size: 30px;
    transition: all 0.5s;
}

.cart-add-item-h i:hover,
.cart-subtract-item-h i:hover {
    border: white 1px solid;
    color: white;
    font-size: 34px;
    background-color: #1f53c5;
    box-shadow: 0 0 30px rgb(100, 100, 100);

}

.cart-delete-item-h {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-delete-item-h p {
    width: 50%;
    display: flex;
    justify-content: center;
}

.cart-delete-item-h p i {
    cursor: pointer;
    padding: 15%;
    border: red 2px solid;
    color: red;
    border-radius: 30px;
    font-size: 30px;
    transition: all 0.5s;
}

.cart-delete-item-h p i:hover {
    border: white 1px solid;
    color: white;
    font-size: 34px;
    background-color: red;
    box-shadow: 0 0 30px rgb(100, 100, 100);
}

/* Package */

.cart-package-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-package-section h2 {
    width: 100%;
    padding-left: 2%;
    color: grey;
}

.cart-package-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-article-package-div {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.cart-package-article {
    cursor: pointer;
    width: 100%;
    margin: 3% 0;
    padding: 2%;
    background-color: #ffffff;
    border-bottom: 5px solid rgb(100, 100, 100);
    border-right: 5px solid rgb(100, 100, 100);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s;
}

.cart-package-article:hover {
    border-bottom: 1px solid rgb(100, 100, 100);
    border-right: 1px solid rgb(100, 100, 100);
}

.cart-tools-package {
    width: 100%;
    display: flex;
}

.cart-tools-package-top {
    width: 60%;
}

.cart-tools-package-specification {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cart-add-subtract-item-p {
    /* width: 60%; */
    width: 100%;
    display: flex;
    align-items: center;
}

.cart-add-item-p {
    width: 33%;
    display: flex;
    justify-content: center;
}

.cart-add-item-p i {
    cursor: pointer;
    padding: 15%;
    border: #1f53c5 2px solid;
    color: #1f53c5;
    border-radius: 30px;
    font-size: 30px;
    transition: all 0.5s;
}

.cart-number-item-p {
    width: 33%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.cart-subtract-item-p {
    width: 33%;
    display: flex;
    justify-content: center;
}

.cart-subtract-item-p i {
    cursor: pointer;
    padding: 15%;
    border: #1f53c5 2px solid;
    color: #1f53c5;
    border-radius: 30px;
    font-size: 30px;
    transition: all 0.5s;
}

.cart-add-item-h i:hover,
.cart-subtract-item-p i:hover {
    border: white 1px solid;
    color: white;
    font-size: 34px;
    background-color: #1f53c5;
    box-shadow: 0 0 30px rgb(100, 100, 100);

}

.cart-delete-item-p {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-delete-item-p p {
    width: 50%;
    display: flex;
    justify-content: center;
}

.cart-delete-item-p p i {
    cursor: pointer;
    padding: 15%;
    border: red 2px solid;
    color: red;
    border-radius: 30px;
    font-size: 30px;
    transition: all 0.5s;
}

.cart-delete-item-p p i:hover {
    border: white 1px solid;
    color: white;
    font-size: 34px;
    background-color: red;
    box-shadow: 0 0 30px rgb(100, 100, 100);
}

.cart-flight-section,
.cart-hotel-section {
    padding-bottom: 2%;
}

/* Buttons */
.cart-button-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0;
}

.cart-total {
    width: 100%;
    padding: 3%;
    border-top: 1px solid grey;
    display: flex;
}

.cart-total p {
    font-size: 28px;
    margin: 0 2%;
}

.cart-total-numb {
    border-bottom: #000 1px dashed;
}

.cart-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-button-buy {
    margin: 1%;
    color: white;
    background-color: #1f53c5;
    width: 60%;
    height: 2em;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.cart-button-buy:hover {
    color: white;
    font-weight: 600;
    box-shadow: 0 0 30px rgb(100, 100, 100);
}

.cart-button-delete {
    margin: 1%;
    color: white;
    background-color: red;
    width: 60%;
    height: 2em;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}

.cart-button-delete:hover {
    color: white;
    font-weight: 600;
    box-shadow: 0 0 30px rgb(100, 100, 100);
}

@media (min-width: 500px) {
    .cart-article-flight {
        width: 400px;
    }

    .cart-tools-flight {
        width: 400px;
    }

    .cart-article-hotel-div {
        width: 400px;
    }
}

@media (min-width: 768px) {
    .cart-article-flight {
        width: 80%;
        height: 40%;
        flex-direction: row;
    }

    .cart-tools-flight {
        width: 10%;
        flex-direction: column;
        align-items: center;
    }

    .cart-article-flight-div {
        flex-direction: row;
        justify-content: space-around;
        padding-right: 2%;
        width: 100%;
    }

    .cart-add-subtract-item-f {
        width: 100%;
    }

    .cart-delete-item-f {
        width: 80%;
    }

    .cart-add-item-f i {
        padding: 5%;
        border-radius: 20px;
        font-size: 30px;
    }

    .cart-subtract-item-f i {
        padding: 5%;
        border-radius: 20px;
        font-size: 30px;
    }

    .cart-add-item-f i:hover,
    .cart-subtract-item i:hover {
        font-size: 34px;
    }


    .cart-delete-item-f p i {
        padding: 10%;
        border-radius: 30px;
        font-size: 26px;
    }

    .cart-delete-item-f p i:hover {
        font-size: 34px;
    }

    /* Hotels */
    .cart-article-hotel-div {
        width: 400px;
    }

    .cart-hotel-div {
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* Package */
    .cart-article-package-div {
        flex-direction: row-reverse;
        justify-content: space-around;
        width: 100%;
    }

    .cart-package-article {
        width: 80%;
    }

    .cart-tools-package {
        width: 10%;
        flex-direction: column;
    }

    .cart-tools-package-top {
        width: 100%;
    }

    .cart-tools-package-specification {
        width: 100%;
    }

    .cart-delete-item-p {
        width: 100%;
    }

    /* Buttons */
    .cart-buttons {
        flex-direction: row;
        justify-content: center;
    }

    .cart-button-buy {
        width: 30%;
    }

    .cart-button-delete {
        width: 30%;
    }

}

